@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
/*  got the above from google fonts, select font, then hit "@import", copy and paste. */

.App
{
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5AB9EA;
    font-family: Bebas Neue; /*same font that was imported above.*/
}

.heading
{
    text-transform: uppercase;
    font-size: 45px;
    z-index: 1; /*why? also what does @media query cater to?*/
    text-align: center;
}

.input_box
{
    width: 100%;
    border-radius: 50px;
    padding : 20px 30px;
    font-size: 25px;
    border : none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    font-family: Bebas Neue;
    text-align: center;
}

.input_box:focus /* does the cool colour change thing when input_box is being interacted with. */
{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.inputConfirm
{
    font-family: Bebas Neue;
    background-color: #8860D0;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 25px;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.inputConfirm:hover
{
    transform: scale(0.9);
    background-color: #9c6fed;
}

.taskInput
{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.todos
{
    display : flex;
    justify-content: space-evenly;
    width : 90%;
    flex-wrap: wrap;
    align-self: flex-end;
}

.taskBox {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: flex-end; /* Align children to the right */
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskBox--text {
    margin-bottom: 10px; /* Add some space between the text and the icons */
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    align-self: flex-end; /* Align the text to the right */
}

.Icons {
    display: flex;
    gap: 10px; /* Space between icons */
}

.editIcon, .trashIcon, .checkIcon {
    cursor: pointer;
    font-size: 20px; /* Adjust the icon size as needed */
    color: #666; /* Adjust the icon color as needed */
}

.editIcon:hover, .trashIcon:hover, .checkIcon:hover {
    color: #000; /* Change color on hover for better interactivity */
}
